/* --- all pages ---*/
.col {  /* --- full width for top logoimg, topbar, nav, img --- */
    padding-right: 0px;
    padding-left: 0px;
}
.logoimg {  /* --- top left ETI logo --- */
    width: 180px;
    height: 80px;
    margin: 5px;
    float: left;
    padding-left: 20px;
}
.topbar { /* top blue bar w/phone number ---*/
    width: 100%;
    margin-left: 0px;
    background-color: #40738d;
    color: white;
    text-align: right;
    padding-right: 20px;
}
/* --- nav --- */
nav {
    margin-top: 30px;
}
li a {
    color: #40738d;
    font-weight: bold;
}

/* --- index page --- */

/*#bannersubject{
    background-color: rgb(100, 132, 146);
    margin: 30px;
    font-size: 3rem;
    border-radius: 10%;
}*/
/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.1);
}
#learnerparagraph { /* --- index  page ---*/
    text-align: center;
    font-size: 2rem;
    color:  #7C7E7F;
}
.bckblue { /* --- index page --- */
    background-color: #40738d;
}
.img-thumbnail {
    border: 0px;  
  } 
img.logos.img-thumbnail {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  } 
.logos { /*--- logos for eti customers, index page --- */
    margin: 5px; /*--- decreased margin from 50px to 20px --- */
   /* --- removed from page and to stylesheet --- */
}
img.logos.img-thumbnail {
    border-radius: 0px;
}
.img-thumbnail {
    border-radius: 0px;
}
.col-3 {
    padding-left: 5px;
    padding-right: 5px;
}
.flex-container{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
/*.flex-container li a{
    justify-content: center;
}*/

 /*------About ETI CSS-----*/

.room { /* --- margin for top img ---*/
    margin-bottom: 20px;
  }
.mission {  /* ---css for margin above rows --- */
    margin-top: 20px;
}
.about-text { /* --- margin about col-md-8 ---*/
    margin-top: 20px;
}
.title-left { /* --- col-md-4 --- */
    text-align: left;
    font-size: 26px;
    font-weight: 400;
}
.why-card { /* --- margin for cards --- */
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-body { /* --- three cards ---*/
  padding: 20px 15px 20px 15px;
  line-height: 1.2rem;
}
.card {
  border: 1px solid rgb(193, 222, 238);
}
.thumb-nail {
    height: 200px;
    width: auto;
}
.border-bottom { /* --- hr title border --- */
    border-bottom: 2px solid #9BC2DB !important;
}
.border-left {
    border-left: 2px solid #71A9CC !important;
}

/*----read more read less----*/
#summary {
    line-height: inherit;
}
#summary p.collapse:not(.show) {
    height: 120px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
#summary p.collapsing {
    min-height: 42px !important;
}
#summary a.collapsed:after  {
    content: '+ Read More';
}
#summary a:not(.collapsed):after {
    content: '- Read Less';
}
/* 2nd read more read less */
#summary1 {
    line-height: inherit;
}
#summary1 p.collapse:not(.show) {
    height: 120px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
#summary1 p.collapsing {
    min-height: 42px !important;
}
#summary1 a.collapsed:after  {
    content: '+ Read More';
}
#summary1 a:not(.collapsed):after {
    content: '- Read Less';
}


/*Jesse*/
footer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.social {
    margin-top: 10px;
}
.future {
    padding-top: 20px;
}
.talk {
    padding-top: 40px;
}
.invest {
    font-weight: bold;
    font-size: 2.5rem;
}
.footerdescription {
    font-style: italic;
}
.row location {
    margin-left: 0px;
    margin-right: 0px;
}
.location {
    margin-bottom: 10px;
}
.location a {
    color: white;
}
.map {
    height: 50%;
    width: 50%;
    border: 0;
}
.award {
    background-color: white;
    padding: 10px;
}
.social .img-thumbnail {
    height: 30px;
    margin: 5px;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.1);
    text-align: left;
    font-size: 26px;
    font-weight: 400;
}

/*Album Logos*/

#mission-1, #mission-2, #mission-3, 
#partner-1, #partner-2, #partner-3, #partner-4, #partner-6, #partner-7, #partner-8, #partner-9, #partner-10 {
    display: table-cell;
    padding: 0px;
    color: white;
    vertical-align: middle;
}
#partner-5 {
    display: table-cell;
    padding: 0px;
    color: black;
    vertical-align: middle;
}
#partner-1, #partner-2, #partner-3, #partner-4, #partner-6, #partner-5, #partner-7, #partner-8, #partner-9, #partner-10 {
    margin: 5px;
}
#mission-1, #partner-1 ,#partner-10 {
  /* background-color:#96CC89; */
}
#mission-2, #partner-2 ,#partner-7 {
  /* background-color:#0F2755; */
}
#mission-3, #partner-3, #partner-9 {
  /* background-color:#71C7EC; */
}
#partner-4, #partner-8 {
  /* background-color:#76A595; */
} 
#partner-5 {
  /* background-color:#F5F5F5; */
} 
#partner-6 {
  /* background-color:#7C7E7F; */
} 

